<img height="180px" src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" align="left" hspace="30px" vspace="50px"/>

# Welcome to your next notebook with SDA!

During the classes we will mostly use [Google Colaboratory](https://colab.research.google.com/?hl=en) which is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud.

However, for bigger projects, especially involving Deep Learning and/or big data reading, it might be a better choice to setup Jupyter Notebook or Jupyter Lab on your computer. Also, it is worth noticing that there is a great number of useful extensions (see [nbextensions](https://jupyter-contrib-nbextensions.readthedocs.io/en/latest/index.html) and [jupyter-labextension](https://jupyterlab.readthedocs.io/en/stable/user/extensions.html)) not available for Colab users.

<img src="https://drive.google.com/uc?export=view&id=1yaT5P7YcVbo--V_PWIfwi83K7F5LJlGX" alt="Where are we?" title="Where are we? Intermediate Python" align="left" width="1000px" hspace="10px" vspace="10px"/>

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>

# Python in Data Science
Start by reading through the presentation slides.

<br>

After the **<font color='#ed7d31'>PYTHON IN DATA SCIENCE</font>** course you will dive deeper into Python and familiarize yourself with concepts especially useful for future Data Scientists:
* virtual environments
* operations on files
* pandas
* working with dates and times
* Practice‚ùó

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>
<br>

## Virtual environments

**<font color='#ed7d31'>PRACTICAL WORKSHOPS WITH SCREEN SHARING BY YOUR MENTOR</font>**

### Additional reading:

By default, `pip` will install packages globally for the whole system. In most cases, this is not the desired action. We can have **many different projects** on a computer, each with its own set of dependencies. It may happen that the dependencies of one project are incompatible with the dependencies of another project. Does this mean we have to keep them on separate machines?

`Virtualenv`, a **virtual environment**, comes to the rescue. You can create many virtual environments, each with its own set of dependencies kept in a place known only to that environment and not accessible to other environments.
In this way, we get insulation and our designs do not interfere with each other.
PyCharm has very good support for virtual environments. To install virtualenv you need to use
```bash
pip install virtualenv
```
and this is actually the only dependency you should install on your system globally.

The basic operation is, of course, to create a new virtual environment. The command virtualenv environment_name is used for this, where environment_name is the name of our choice.

The question is where to keep the created virtual environments. In one approach, they can all be kept together in one dedicated directory.

Another approach is to embed the virtual environment inside the project we are working on so that it becomes "self-sufficient". Usually, the environment is then called venv, a name recognized by Python programmers. The venv directory is then added to .gitignore so as not to track it in the repository. This approach is used by PyCharm, which we will discuss later.

Either way, the virtualenv tool itself has no opinion on the localization of virtual environments. It will create a new environment in the current directory and it depends on us what this directory will be.

After creating a new environment, the next step is to **activate it**. This means that we would like to be in this new environment, so that we can install packages in it and develop a project that depends on them.

In order to activate the environment, the script named activate, which is located in the virtual environment directory in the bin subdirectory, should be loaded into the current session.

Loading the script into the session is done with the Linux source command.
So if we are still in the same directory we were in when creating this environment, the correct command would be: source environment_name/bin/activate. (if we have several versions of Python on the computer, we can decide which one we want to use to create the environment by specifying the path in the -p parameter).

While activating a virtual environment does not sound very simple, verifying whether we managed to activate it is hassle-free - if we are in the middle of a virtual environment, our command line will have its name added from now until we leave the environment.

Also, pip freeze will return an empty list - there are no dependencies in the new virtual environment.

Another way to check if the virtual environment is properly activated is to run the which python (or which python3) command in Linux, which should now return the path to Python from within the directory of our virtual environment.

Once we are in the middle of a virtual environment, we can install packages normally using the pip tool.

A common situation is one where we created the environment because we want to start working on some project that exists on GitHub, let's say we want to get involved in some open source project.

In such a situation, we will create a clean virtual environment, activate it and clone the project from GitHub. Usually, such a project will have a requirements.txt file, so we will execute the command
```bash
pip install -r requirements.txt
```
, which in our clean virtual environment will install all dependencies necessary to run the project.

It may also happen that we are the main developers working on the project in a virtual environment, and another developer wants to join. Then we will check the dependencies in the project by running the
```bash
pip freeze > requirements.txt
```
command and we will share the resulting file with it so that it can easily recreate the environment.

Finally, there comes a point where we want to start working on a different project with a different set of dependencies.

If we want to switch from one virtual environment to another, we first have to leave the one we are in. Use the `deactivate` command to do this.

If we do it correctly, the environment name will disappear from our command line, pip freeze will show globally installed packages, and which python will point to python installed on the system or configured in the session.

**Extras - PyCharm**

When creating a new project in PyCharm, it automatically creates a new virtual environment and embeds it inside the project in the venv directory.
In the project creation dialog, we can select the environment creation tool (virtualenv, pipenv, conda), as well as select the Python version.

If the project has been cloned from the repository, PyCharm will not create a virtual environment itself and you will have to configure it.
To do this, select PyCharm -> Preferences -> Project -> Project Interpreter in OSX.
For Linux it will be File -> Settings -> Project -> Project Interpreter.
The dialog will then display the path to the Python interpreter - this will probably be your system Python. The currently installed packages will also be displayed along with their versions and whether there is a newer version of the package.
We are most interested in the gear near the top right.

After clicking on the gear, we choose the 'add' option and a new dialog appears in front of our eyes.
We can use it to create a new virtual environment - by default named venv, located in the main project folder.
We can also determine the version of Python installed on our system.
Optionally, we can use the conda or pipenv tools or connect to Python on a remote machine via ssh or on a virtual machine using vagrant or on a container using a docker - all these options are quite advanced for our needs.
We can also use the "system" global version of Python..

The standard configured virtual environment in PyCharm is named venv and is visible in the project pane.
The directory is underlined in red and is not added to the repository, the standard .gitignore file generated by GitHub for Python contains venv in it to ignore this folder.
When a virtual environment is configured in PyCharm, it can index the code of dependent libraries and better validate the code.
The terminal tab starts Bash immediately with the virtual environment activated.
The Python Console tab runs Python from a configured virtual environment.

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Conda Environments

**<font color='#306998'>VIRTUAL ENVIRONMENTS </font><font color='#ffd33b'>WITH CONDA</font>**

It might be also useful reading about conda environments: https://conda.io/projects/conda/en/latest/user-guide/index.html

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>
<br>

# Operations on files

<br><br>

## Read a file with `.open()` function

To operate on files, you must first create a reference to the chosen one - use a built-in `.open()` function for this.

`.open()` requires one parameter specified, ie. the path to the file you want to open. The path can be **<font color='#5b9bd5'>relative</font>** or **<font color='#5b9bd5'>absolute</font>**. By default, the file is opened in **read-only mode** and **text format**. If you want to operate on a binary file or write to it, the **write mode** should be specified as the second parameter.

#### **<font color='#306998'>MOUNT </font><font color='#ffd33b'>GOOGLE DRIVE</font>**

Download `sentences.txt` file from the following kaggle site:<br>
https://www.kaggle.com/datasets/olgabelitskaya/toy-data-for-text-processing

Upload it to your Google Drive, mount it and load the data.

*Hint: you can copy the path to the file or change the working directory and then use just the file name with .txt extenstion.*

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
f = open('/content/drive/MyDrive/SDA Data Science/files/sentences.txt')

In [ ]:
f

In [ ]:
f.write('Another sentence')

UnsupportedOperation: ignored

In [ ]:
f.close()

### File open modes

The `.open()` function has the following modes:
* `"r"` - read only (default)
* `"w"` - for writing, if the file does not exist it will be created, if it does exist the old contents will be deleted (over-written)
* `"x"` - for creating, the operation will fail if the file already exists
* `"a"` - appending, if the file does not exist, it will be created, if it exists, new content will be appended to the end of the file (you will not loose previous content)
* `"t"` - text mode (default)
* `"b"` - binary mode
* `"+"` - means that when opened, the cursor will move to the end of the file. By default it is set at the beginning.

The modes can be used together, e.g. `a + b` means opening a binary file for writing, but the file, if it exists, will not be shortened, and appending will be done at the end of the file.

The last parameter of the `.open()` function is `encoding`, ie. file encoding (see more [text encoding](https://www.puredevsoftware.com/blog/2017/11/17/text-encoding/)). The default depends on the operating system, `cp1252` on Windows and `utf-8` on Linux.

### Opening the file

After you finish working on the file, each time, it needs to be closed. This is done with the `.close()` method called on an object of the File type.

It's worth noting that the code below is not secure:

In [ ]:
f = open('/content/drive/MyDrive/SDA Data Science/files/sentences.txt')

# do some stuff

f.close()

The best way to open a file is to use the file in a context using `with` keyword. The `with` keyword opens the context found in the indented block below it. When we leave the indented context block, the file will be automatically closed, so we don't have to close it ourselves.

This eliminates the confusion caused by forgetting to close the file when not using the context manager and it also protects us in a situation when errors occur in the code and the file is not closed.

In [ ]:
with open('/content/drive/MyDrive/SDA Data Science/files/sentences.txt') as f:
    pass
    # do some stuff

# file is automatically closed by now :)

### Reading from file

While working with **<font color='#5b9bd5'>text files</font>**, we very often want to **<font color='#5b9bd5'>read the file line by line</font>**.

There are three main ways to read a file line by line;
* the prehistoric approach
    * using the `.readline()` method
    ```python
    file_path = '/content/drive/MyDrive/SDA Data Science/files/sentences.txt'

    f = open(file_path)

    while(True):
        line = f.readline()
        if not line:
            break
            f.close()
        print(line)
    ```
* the medieval approach - using the `.readlines()` method
    * `.readlines()` returns a list which elements are consecutive single lines read from the file
    ```python
    file_path = '/content/drive/MyDrive/SDA Data Science/files/sentences.txt'

    with open(file_path) as f:
        lines = f.readlines()
        for line in lines:
            print(line)
    ```
    > It can still be useful when we don't want to read line by line, but to navigate through the file the way we chose. Note, however, that readlines will read the entire file, regardless of its size.
* the standard approach - use a lazy iterator returned by an object of `File` type.
    * the file descriptor itself returns an iterator that passes line by line
    > typically this is better than `.readlines()` because it does not read the entire file into the memory. This method is preferred.

In [ ]:
file_path = '/content/drive/MyDrive/SDA Data Science/files/sentences.txt'

with open(file_path) as f:
    for line in f:
        print(line)
        break

I check my email every day.

## Saving to file

In order to **<font color='#5b9bd5'>write some content to a file</font>**, it must first be opened in appropriate mode (for writing and/or adding).

If the file opening operation is successful (we have the appropriate permissions, there is enough space on the disk) then we can write the content to it using the `.write()` method.

The `.write()` method takes as a parameter the string that we want to write to the file.

In the example above, we have opened a text file (see `file.txt`) in the given directory (an absolute path was used). The file was opened in **<font color='#5b9bd5'>read-only mode</font>**, so if there was no such file (ie. the file did not exist) then it was created, and otherwise, its previous content was deleted.

In [ ]:
with open('/content/drive/MyDrive/SDA Data Science/files/sentences_0.txt', 'w') as f:
    f.write('This is my first text file\n')
    f.write('Created in Python\n')

In [ ]:
!ls "/content/drive/MyDrive/SDA Data Science/files/"

chipotle.tsv  sentences_0.txt  sentences.txt

In [ ]:
with open('/content/drive/MyDrive/SDA Data Science/files/sentences_0.txt') as f:
    for line in f:
        print(line)

This is my first text file

Created in Python

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>
<br>

# pandas - Python Data Analysis Library

<img src="https://drive.google.com/uc?export=view&id=1-IymXq4uU75EOw2ZEDoKt28FS4AGcVDF" alt="Pandas logo" title="Pandas logo" align="right" width="250px" hspace="60px" vspace="0px"/>

<br><br>
Pandas is another library essential for data analysis using Python. It provides powerful data structures that make working with **<font color='#5b9bd5'>tabular data</font>** simple and intuitive.

Pandas developers aim to maintain its status as an essential library for everyday analysis. They also want to become the most powerful open-source tool for data analysis in any programming language. Currently, the project continues to grow rapidly, and familiarity with it is crucial for any data scientist.

**Pandas will be a good choice for the following uses:**
* tabular data (with columns & rows as in SQL, Excel, or .csv files)
* data representing time series
* matrices
* results of measurements and statistics

<img src="https://drive.google.com/uc?export=view&id=1s2kYiPt5tJQcMb8CHwk91acjIpso4equ" alt="Pandas: tabular data" title="Pandas: tabular data" align="center" width="500px" hspace="30px" vspace="10px"/>

> Source: https://www.geeksforgeeks.org/python-pandas-dataframe/

**<font color='#5b9bd5'>Did you know?</font>** - `.csv` files are plain text files with comma-separated values, e.g. "James", "Bond", 007

**Pandas strengths include:**
* simple handling of missing values (NaN),
* ability to modify the size of the `pd.DataFrame()` - we can easily add and remove both columns and rows,
* automatic data alignment in calculations (as in NumPy),
* powerful `.groupby()` method allowing for data aggregation in the same way as in SQL,

Additionaly, it's easy to create a `pd.DataFrame()` from other objects, and cutting, indexing or creating subsets, as well as joining (join and merge) different data sets together.

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Pandas data structures - `pd.Series()`

**<font color='#5b9bd5'>Pandas Series</font>** is a one-dimensional data structure (similar to one-dimensional NumPy matrix, ie. vector) that stores the data as well as unique indeces.

Creating with `pd.Series(<content>)`:

In [ ]:
import pandas as pd

pd.Series(range(123, 115, -1))

0    123
1    122
2    121
3    120
4    119
5    118
6    117
7    116
dtype: int64

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Pandas data structures - `pd.DataFrame()`

The second structure introduced in pandas is **<font color='#5b9bd5'>Pandas DataFrame</font>**. It is a two or more dimensional data structure, most often in the form of a table with rows and columns. Typically, columns have their names and rows have indexes.

Creating - `pd.DataFrame(<content>)`

In [ ]:
pd.DataFrame([[5, 2], [7, 13]], columns=["sloupec_1", "sloupec_2"])

   sloupec_1  sloupec_2
0          5          2
1          7         13

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Reading data with Pandas

Even though it is possible to define the data on your own and create a `pd.Series()` or `pd.DataFrame()`, typically, we do not do that. The first step is usually the same - there is some data is stored in `.csv`, or `.tsv` files, databases, excel files etc. You can load them by using previously described methods or directly using pandas API with `pd.read_csv()` function:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

Note that the list of all possible arguments is very large and at first it might be a bit overwhelming. However, we strongly encorage you to familiarize with the most important ones, since they will make your life a lot easier!

```python
pandas.read_csv(filepath_or_buffer, *, sep=_NoDefault.no_default, delimiter=None, header='infer', names=_NoDefault.no_default, index_col=None, usecols=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=None, infer_datetime_format=_NoDefault.no_default, keep_date_col=False, date_parser=_NoDefault.no_default, date_format=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, on_bad_lines='error', delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options=None, dtype_backend=_NoDefault.no_default)
```

* `filepath_or_buffer`
* `sep` / `delimiter` - column separator (comma by default)
* `header` - row with columns names (if available)
* `index_col` - to specify which column contains data indices
* `usecols` - if you need to load only selected columns
* `skiprows` - if initial rows contain some meta-data that you do not need
* `nrows` - to load only a limited portion of a data
* `chunksize` - if you want to instantiate data reader (generator) to load data in chunks
* `names` - if they are not available or you want to change the default ones
* and many others!

#### **<font color='#306998'>TASK </font><font color='#ffd33b'>FOR YOU</font>**

Download `chipotle.tsv` file from the following kaggle site:
https://www.kaggle.com/datasets/navneethc/chipotle

Upload it to your Google Drive, mount it and load the data.

*Hint: you can copy the path to the file or change the working directory and then use just the file name with .tsv extenstion.*

In [ ]:
chipotle = pd.read_csv("chipotle.tsv", sep="\t")
chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
sloupce_item = [sloupec for sloupec in chipotle.columns if "item" in sloupec]

In [ ]:
chipotle.index

RangeIndex(start=0, stop=4622, step=1)

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Display data

After the data is loaded, the next step is to display it and you can do it in many ways:
* simply print out what will fit on the screen with `df` (here `chipotle`)
* `df.head(n)` - displays the first n data records (5 by default)
* `df.tail(n)` - displays the last n data records (5 by default)
* `df.sample(n)` - displays n randomly chosen data records (1 by default)
* `df[‚Äúcolumn‚Äù]` or `df.column` - displays a given column (as `pd.Series()`)
    * note that so-called the dot-notation is possible only for column names without whitespace characters‚ùó
* `df[[‚Äúcolumn‚Äù]]` - displays a given column (as `pd.DataFrame()`)
* `df[[‚Äúcolumn1‚Äù, ‚Äúcolumn2‚Äù]]` - displays several columns
    * note that you cannot specify multiple columns with single-square brackets notation‚ùó
* `df.index` - displays indexes
* `df.columns` - displays column names
* `df.info()` - general information about the data set (incl. missing values and data types)

In [ ]:
chipotle.sample()

,order_id,quantity,item_name,choice_description,item_price
1808,732,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49

In [ ]:
chipotle.index

RangeIndex(start=0, stop=4622, step=1)

In [ ]:
chipotle.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
chipotle.item_price

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [ ]:
chipotle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Subset data rows/cols with `.loc[]/.iloc[]`

For the `pd.DataFrame()`, there are two pandas methods for retrieving specific data:
* `.loc[[rows],[cols]]` - looks for columns and indexes by their names
* `.iloc[[row_numbers], [col_numbers]]` - searches by their ordinal numbers

In [ ]:
chipotle['item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [ ]:
chipotle[0:3]  # rows from 0 to 3, wo 3 (left-hand closed right-hand open)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [ ]:
chipotle.loc[:, 'item_price']

0        $2.39
1        $3.39
2        $3.39
3        $2.39
4       $16.98
         ...
4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, Length: 4622, dtype: object

In [ ]:
chipotle.loc[:5, 'item_price']

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
5    $10.98
Name: item_price, dtype: object

In [ ]:
chipotle.loc[:, ['quantity', 'item_price']]

      quantity item_price
0            1     $2.39
1            1     $3.39
2            1     $3.39
3            1     $2.39
4            2    $16.98
...        ...        ...
4617         1    $11.75
4618         1    $11.75
4619         1    $11.25
4620         1     $8.75
4621         1     $8.75

[4622 rows x 2 columns]

In [ ]:
chipotle.loc[13, ['quantity', 'item_price']]  # only one row

quantity            1
item_price    $11.25
Name: 13, dtype: object

In [ ]:
chipotle.loc[13, ['item_price']]  # selected single cell (with indices)

item_price    $11.25
Name: 13, dtype: object

In [ ]:
chipotle.loc[13, 'item_price']  # selected single cell

'$11.25 '

In [ ]:
chipotle.at[13, 'item_price']  # selected single cell

'$11.25 '

Note that `.iloc[0]` and `.loc[0]` will not differ if the following indexes are consecutive numbers starting from 0.

In [ ]:
chipotle.iloc[0]

order_id                                         1
quantity                                         1
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                  $2.39
Name: 0, dtype: object

In [ ]:
chipotle.loc[0]

order_id                                         1
quantity                                         1
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                  $2.39
Name: 0, dtype: object

However, if we start indexing from 1 (or shuffle data, or drop a few rows) these two will be significantly different.

In [ ]:
chipotle.index += 1

In [ ]:
chipotle.iloc[1]

order_id                         1
quantity                         1
item_name                     Izze
choice_description    [Clementine]
item_price                  $3.39
Name: 2, dtype: object

In [ ]:
chipotle.loc[1]

order_id                                         1
quantity                                         1
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                  $2.39
Name: 1, dtype: object

In [ ]:
chipotle.head()

,order_id,quantity,item_name,choice_description,item_price
1,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
2,1,1,Izze,[Clementine],$3.39
3,1,1,Nantucket Nectar,[Apple],$3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
chipotle.iloc[1, 2:4]

item_name                     Izze
choice_description    [Clementine]
Name: 2, dtype: object

In [ ]:
chipotle.loc[2, ["item_name", "item_price"]]

item_name                     Izze
choice_description    [Clementine]
item_price                  $3.39
Name: 2, dtype: object

### Data filtering with logical conditions

Note that you can easily introduce various logical expressions to evaluate each cell value one-by-one:

What is more, you can use it in square brackets to select only the rows satisfying the given conditions:

In [ ]:
chipotle[chipotle["quantity"] > 5]

,order_id,quantity,item_name,choice_description,item_price
3599,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
3600,1443,7,Bottled Water,NaN,$10.50
3888,1559,8,Side of Chips,NaN,$13.52
4153,1660,10,Bottled Water,NaN,$15.00

In [ ]:
chipotle[chipotle["order_id"] <= 2]

,order_id,quantity,item_name,choice_description,item_price
1,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
2,1,1,Izze,[Clementine],$3.39
3,1,1,Nantucket Nectar,[Apple],$3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
chipotle[(chipotle["order_id"] > 1405) & (chipotle["order_id"] <= 1410)]

,order_id,quantity,item_name,choice_description,item_price
3502,1406,1,Steak Burrito,"[[Lettuce, Fajita Veggies, Rice]]",$8.69
3503,1406,1,Steak Salad,"[[Lettuce, Fajita Veggies]]",$8.69
3504,1407,1,Steak Crispy Tacos,[Fresh Tomato Salsa],$9.25
3505,1407,1,Chips and Fresh Tomato Salsa,NaN,$2.95
3506,1408,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$10.98
3507,1408,1,Chips and Fresh Tomato Salsa,NaN,$2.39
3508,1409,2,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",$22.50
3509,1410,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",$21.96

In [ ]:
chipotle[(chipotle["order_id"] > 1830) | (chipotle["quantity"] > 4)]

,order_id,quantity,item_name,choice_description,item_price
2442,970,5,Bottled Water,NaN,$7.50
3599,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
3600,1443,7,Bottled Water,NaN,$10.50
3888,1559,8,Side of Chips,NaN,$13.52
4153,1660,10,Bottled Water,NaN,$15.00
4613,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4614,1831,1,Chips,NaN,$2.15
4615,1831,1,Bottled Water,NaN,$1.50
4616,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4617,1832,1,Chips and Guacamole,NaN,$4.45
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
chipotle[chipotle["item_name"] == "Bottled Water"]

      order_id  quantity      item_name choice_description item_price
35          17         1  Bottled Water                NaN     $1.09
88          38         1  Bottled Water                NaN     $1.09
319        138         1  Bottled Water                NaN     $1.09
330        143         1  Bottled Water                NaN     $1.50
377        163         1  Bottled Water                NaN     $1.50
...        ...       ...            ...                ...        ...
4569      1817         1  Bottled Water                NaN     $1.50
4571      1817         1  Bottled Water                NaN     $1.50
4583      1822         2  Bottled Water                NaN     $3.00
4599      1826         1  Bottled Water                NaN     $1.50
4615      1831         1  Bottled Water                NaN     $1.50

[162 rows x 5 columns]

In [ ]:
voda = chipotle[chipotle["item_name"] == "Bottled Water"]

### Overwriting data

You can also overwrite or append data with the assignment command `=`:
```python
df[‚Äúcolumn‚Äù] = new_data_series
df[[‚Äúcolumn‚Äù]] = new_dataframe
df[[‚Äúcolumn1‚Äù, ‚Äúcolumn2‚Äù]] = new_dataframe
df.loc[column:row] = new_dataframe
df.iloc[column_number:row_number] = new_dataframe
```

In [ ]:
chipotle['new_col'] = 'oh'

In [ ]:
chipotle.head()

,order_id,quantity,item_name,choice_description,item_price,new_col
1,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,oh
2,1,1,Izze,[Clementine],$3.39,oh
3,1,1,Nantucket Nectar,[Apple],$3.39,oh
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,oh
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,oh

In [ ]:
chipotle = chipotle.drop(columns=['new_col'])

In [ ]:
chipotle

,order_id,quantity,item_name,choice_description,item_price
1,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
2,1,1,Izze,[Clementine],$3.39
3,1,1,Nantucket Nectar,[Apple],$3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Basic statistics

All the following operations for the DataFrame will return values for each of the columns. We can also select the column for which we want to perform these operations:
```python
df.count()  # counting the number of items (not NaNs)
df.column.value_counts()  # counting the number of unique items
df.sum()  # sum of all items
df.min()  # minimal element
df.max()  # maximal element
df.mean()  # dataset‚Äôs mean
df.median()  # dataset‚Äôs median
```

In [ ]:
chipotle['quantity'].value_counts()

1     4355
2      224
3       28
4       10
5        1
15       1
7        1
8        1
10       1
Name: quantity, dtype: int64

In [ ]:
chipotle['quantity'].sum()

4972

In [ ]:
chipotle['quantity'].min(), chipotle['quantity'].max()

(1, 15)

In [ ]:
chipotle['quantity'].mean()

1.0757247944612722

In [ ]:
chipotle['quantity'].median()

1.0

**<font color='#5b9bd5'>Please see [TASK 1](#scrollTo=z5eXe9__yhZ6) & [TASK 2](#scrollTo=o5y-XYr4bcv1).</font>**

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Operating on data

### .apply()

All the following operations for the dataframe will return values for each of the columns, we can select the column for which we want to perform these actions:
> `df.apply(function)` - applying a function to each column or cell in the set

In [ ]:
chipotle

,order_id,quantity,item_name,choice_description,item_price
1,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
2,1,1,Izze,[Clementine],$3.39
3,1,1,Nantucket Nectar,[Apple],$3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
chipotle['item_price [$]'] = chipotle['item_price'].apply(lambda x: float(x[1:]))

In [ ]:
def spocite_a_v_textu(text):
  pocet = text.count("a")
  return pocet

In [ ]:
chipotle["a_letter_occurence"] = chipotle["item_name"].apply(spocite_a_v_textu)

In [ ]:
chipotle

,order_id,quantity,item_name,choice_description,item_price,item_price [$],a_letter_occurence
1,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,4
2,1,1,Izze,[Clementine],$3.39,3.39,0
3,1,1,Nantucket Nectar,[Apple],$3.39,3.39,2
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,4
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,0
...,...,...,...,...,...,...,...
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,1
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,1
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,2
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,2
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,2

In [ ]:
chipotle['item_price [$]'].apply(round)
# chipotle['item_price [$]'].apply(lambda x: round(x))

1        2
2        3
3        3
4        2
5       17
        ..
4618    12
4619    12
4620    11
4621     9
4622     9
Name: item_price [$], Length: 4622, dtype: int64

**<font color='#5b9bd5'>Please see [TASK 3](#scrollTo=WKJVnZD9iAyI).</font>**

### .groupby()

You need to segment your database from time to time. In addition to computing statistics for all values, sometimes these values can be grouped. In pandas, the `.groupby()` method is used for this purpose.
```python
df.groupby(‚Äúcolumn‚Äù).operation().column
```

In [ ]:
chipotle.head()

,order_id,quantity,item_name,choice_description,item_price,item_price [$],a_letter_occurence
1,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,4
2,1,1,Izze,[Clementine],$3.39,3.39,0
3,1,1,Nantucket Nectar,[Apple],$3.39,3.39,2
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,4
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,0

In [ ]:
(2.39+3.39)/2

2.89

In [ ]:
chipotle.groupby('item_name')

In [ ]:
chipotle[chipotle["item_name"] == "6 Pack Soft Drink"].head()

,order_id,quantity,item_name,choice_description,item_price,item_price [$],a_letter_occurence
299,129,1,6 Pack Soft Drink,[Sprite],$6.49,6.49,1
342,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,1
358,154,1,6 Pack Soft Drink,[Coke],$6.49,6.49,1
389,168,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,1
418,182,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49,1

In [ ]:
q = chipotle[['order_id', 'quantity']].groupby('order_id').sum().head()

In [ ]:
p = chipotle[['order_id', 'item_price [$]']].groupby('order_id').mean().head()

In [ ]:
p = p.rename(columns={'item_price [$]':"quantity"})

In [ ]:
q.join(p, lsuffix="_q", rsuffix="_p")

          quantity_q  quantity_p
order_id
1                  4       2.890
2                  2      16.980
3                  2       6.335
4                  2      10.500
5                  2       6.850

In [ ]:
chipotle[chipotle['item_name'] == "6 Pack Soft Drink"]

,order_id,quantity,item_name,choice_description,item_price,item_price [$]
299,129,1,6 Pack Soft Drink,[Sprite],$6.49,6.49
342,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
358,154,1,6 Pack Soft Drink,[Coke],$6.49,6.49
389,168,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
418,182,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
554,230,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
640,264,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
722,298,1,6 Pack Soft Drink,[Nestea],$6.49,6.49
744,306,1,6 Pack Soft Drink,[Coke],$6.49,6.49
880,363,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1027,422,1,6 Pack Soft Drink,[Sprite],$6.49,6.49
1052,432,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1125,465,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1168,481,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1261,511,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1280,520,1,6 Pack Soft Drink,[Sprite],$6.49,6.49
1393,566,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1756,708,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1759,709,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1850,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1861,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1917,774,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1923,776,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1938,784,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1977,798,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2109,849,1,6 Pack Soft Drink,[Coke],$6.49,6.49
2233,899,1,6 Pack Soft Drink,[Coke],$6.49,6.49
2375,945,1,6 Pack Soft Drink,[Sprite],$6.49,6.49
2390,949,1,6 Pack Soft Drink,[Coke],$6.49,6.49
2714,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
2794,1109,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2861,1136,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
3011,1196,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
3133,1248,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
3142,1253,1,6 Pack Soft Drink,[Lemonade],$6.49,6.49
3390,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
3423,1373,1,6 Pack Soft Drink,[Coke],$6.49,6.49
3601,1443,1,6 Pack Soft Drink,[Coke],$6.49,6.49
3615,1448,1,6 Pack Soft Drink,[Nestea],$6.49,6.49
3634,1454,1,6 Pack Soft Drink,[Coke],$6.49,6.49
3694,1480,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
3767,1508,1,6 Pack Soft Drink,[Coke],$6.49,6.49
3790,1517,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
3807,1525,1,6 Pack Soft Drink,[Sprite],$6.49,6.49
3837,1537,1,6 Pack Soft Drink,[Coke],$6.49,6.49
3876,1554,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
3887,1558,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
4170,1664,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
4175,1666,1,6 Pack Soft Drink,[Coke],$6.49,6.49
4360,1741,1,6 Pack Soft Drink,[Coke],$6.49,6.49
4364,1742,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
4523,1798,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
4528,1800,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
4536,1803,1,6 Pack Soft Drink,[Lemonade],$6.49,6.49

### Removing data

The df.drop() command is used to delete data - as a parameter we give a list of indexes or columns to be deleted and axis - whether an index or a column should be deleted.

In [ ]:
chipotle.drop(columns=['a_letter_occurence', "item_price"])
# chipotle.drop('item_price', axis=1)

,order_id,quantity,item_name,choice_description,item_price [$]
1,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
2,1,1,Izze,[Clementine],3.39
3,1,1,Nantucket Nectar,[Apple],3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [ ]:
from datetime import datetime

In [ ]:
stopky_start = datetime.now()
#chipotle.drop(columns=['a_letter_occurence', "item_price"])
del chipotle["a_letter_occurence"]
del chipotle["item_price"]
stopky_stop = datetime.now()

In [ ]:
drop

datetime.timedelta(microseconds=3266)

In [ ]:
stopky_stop - stopky_start

datetime.timedelta(microseconds=1499)

In [ ]:
# chipotle = chipotle.drop(columns='item_price')
# or
chipotle.drop(columns='item_price', inplace=True)

We can also remove incomplete data (NaNy) with the df.dropna() command - the axis parameter removes columns or rows.

In [ ]:
chipotle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 1 to 4622
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price [$]      4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [ ]:
chipotle.dropna(axis=1)

,order_id,quantity,item_name,item_price [$]
1,1,1,Chips and Fresh Tomato Salsa,2.39
2,1,1,Izze,3.39
3,1,1,Nantucket Nectar,3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,2.39
5,2,2,Chicken Bowl,16.98
...,...,...,...,...
4618,1833,1,Steak Burrito,11.75
4619,1833,1,Steak Burrito,11.75
4620,1834,1,Chicken Salad Bowl,11.25
4621,1834,1,Chicken Salad Bowl,8.75
4622,1834,1,Chicken Salad Bowl,8.75

In [ ]:
len(chipotle), len(chipotle.dropna())

(4622, 3376)

### Merging data

In fact, often instead of using one large database, we connect many smaller ones (it is easier to manage them, avoid redundancy, additionally we save disk space and achieve higher speed). Moreover, often the data comes from various sources, hence is splitted naturally betwenn files.

We can combine the data in the library in a few ways:
* `df.append(object)` method adds new rows to the end of the existing dataframe
* `df.merge()` method, which in its assumptions is very similar to `SQL JOIN` - you can choose the joining method - inner (common), outer (sum), left, right and specify the `on` parameter - the name of the column to be a hyphen.

Additionally, we can give the new column name ourselves and thus add the data to the existing data: df ["new column"] = data

There are also other methods, such as, `pd.concat()` and `pd.join()`, see more https://pandas.pydata.org/docs/user_guide/merging.html.

### Sorting data

You can also use a method `df.sort_values(by="column name")`
with `ascending` parameter set to `True` for ascending order and `False` for descending one.

Moreover, often, after sorting the dataset, we want to drop the old indexes - the `df.reset_index(drop=True)` is used for this.

In [ ]:
chipotle.sort_values(['quantity', "item_price [$]"])

,order_id,quantity,item_name,choice_description,item_price [$]
29,14,1,Canned Soda,[Dr. Pepper],1.09
35,17,1,Bottled Water,NaN,1.09
54,24,1,Canned Soda,[Sprite],1.09
88,38,1,Bottled Water,NaN,1.09
108,47,1,Canned Soda,[Dr. Pepper],1.09
...,...,...,...,...,...
2442,970,5,Bottled Water,NaN,7.50
3600,1443,7,Bottled Water,NaN,10.50
3888,1559,8,Side of Chips,NaN,13.52
4153,1660,10,Bottled Water,NaN,15.00
3599,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [ ]:
chipotle.sort_values('item_price [$]', ascending=True)

,order_id,quantity,item_name,choice_description,item_price [$]
1141,471,1,Bottled Water,NaN,1.09
822,338,1,Canned Soda,[Coca Cola],1.09
3927,1575,1,Canned Soda,[Dr. Pepper],1.09
108,47,1,Canned Soda,[Dr. Pepper],1.09
2563,1014,1,Canned Soda,[Coca Cola],1.09
...,...,...,...,...,...
3602,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
3603,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
1255,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3481,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
3599,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [ ]:
chipotle.sort_values('item_price [$]', ascending=False).reset_index()  # inplace & drop

,index,order_id,quantity,item_name,choice_description,item_price [$]
0,3599,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
1,3481,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
2,1255,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3,3603,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
4,3602,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75
...,...,...,...,...,...,...
4617,3937,1578,1,Canned Soda,[Diet Dr. Pepper],1.09
4618,2923,1162,1,Bottled Water,NaN,1.09
4619,1397,567,1,Canned Soda,[Coca Cola],1.09
4620,2563,1014,1,Canned Soda,[Coca Cola],1.09
4621,1458,591,1,Canned Soda,[Sprite],1.09

### Dealing with missing data

Missing data is a fairly common problem faced by Data Analysts and Data Scientist. There are two main approaches:
* `df.dropna()` method - removes all rows with empty data from the table
* `df.fillna(value)` method- fills (or imputes) the data with the specified value

Later on you will also know some more advanced methods to impute missing data. What are your thoughts? What number should be given to the `<value>` to fill in missing observations?

In [ ]:
chipotle.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price [$]           0
dtype: int64

In [ ]:
chipotle['choice_description'].fillna("No description")

1                                          No description
2                                            [Clementine]
3                                                 [Apple]
4                                          No description
5       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4618    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4619    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4622    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

**<font color='#5b9bd5'>See [TASK 4](#scrollTo=6pYv40ppiiEQ), [TASK 5](#scrollTo=CjRm3IXFf1wm) & [TASK 6](#scrollTo=L0xzGLGFgKpK).</font>**

<img src="https://drive.google.com/uc?export=view&id=141XOz6N4nk8Ru1sAl7vOsAToCLrSFCAX" alt="SDA logo" width="150" align='right'/>

## Data analysis

Data understanding - collecting specific data needed to perform the following tasks:
* solve the problem
* provide data description (sometimes also labeling),
* exploration and quality verification.

<br><br><br>
<img src="https://drive.google.com/uc?export=view&id=1T8Uz4wJwFkqid0Erpboe3HvD_yhsRyrM" alt="Data analysis process" title="Data analysis process" align="right" width="600px" hspace="60px" vspace="00px"/>

Data types - `.csv` sheets (these are the ones we will be working on today), text, image, sound, video, weather data, stock data, public archives, etc.

The most important task - FEATURE EXTRACTION (feature engineering). A lot depends on the size of the set and the number of features - depending on these parameters, we will take different steps in the data analysis process.

### Types of features

<img src="https://drive.google.com/uc?export=view&id=1hs-uBkz5exZMEdij-vpnmY-CRC5Nl2il" alt="Data analysis process" title="Data analysis process" align="left" width="600px" hspace="20px" vspace="20px"/>

### Data aggregation

* Numeric:
    * mean
    * sum,
    * max
    * min
    * standard deviation
* Categorical:
    * counting the appearances
    * searching for the most common
    * percentage results, e.g. 23% of the population are blondes

Incomplete values - how to deal with them:
* ignore them
* insert the value "unknown"
* manually fill in on the basis of accumulated knowledge
* delete records with incomplete data
* complete algorithmically
    * look for the nearest neighbor
    * take the average
    * insert random values
    * create ML algorithm

In [ ]:
threshold = 0.2

chipotle.columns[chipotle.isnull().mean() < threshold]

Index(['order_id', 'quantity', 'item_name', 'item_price [$]'], dtype='object')

In [ ]:
# drop columns with more than 20% of missing data
chipotle[chipotle.columns[chipotle.isnull().mean() <= threshold]]

,order_id,quantity,item_name,item_price [$]
1,1,1,Chips and Fresh Tomato Salsa,2.39
2,1,1,Izze,3.39
3,1,1,Nantucket Nectar,3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,2.39
5,2,2,Chicken Bowl,16.98
...,...,...,...,...
4618,1833,1,Steak Burrito,11.75
4619,1833,1,Steak Burrito,11.75
4620,1834,1,Chicken Salad Bowl,11.25
4621,1834,1,Chicken Salad Bowl,8.75
4622,1834,1,Chicken Salad Bowl,8.75

In [ ]:
# drop rows with at least 20% of missing data (here one value)
chipotle.loc[chipotle.isnull().mean(axis=1) < threshold]

,order_id,quantity,item_name,choice_description,item_price [$]
2,1,1,Izze,[Clementine],3.39
3,1,1,Nantucket Nectar,[Apple],3.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
6,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
8,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
...,...,...,...,...,...
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [ ]:
chipotle['item_price [$]'] = chipotle['item_price [$]'].replace(8.75, np.NaN)

In [ ]:
chipotle.isna().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price [$]         730
dtype: int64

In [ ]:
chipotle.fillna(0)

,order_id,quantity,item_name,choice_description,item_price [$]
1,1,1,Chips and Fresh Tomato Salsa,0,2.39
2,1,1,Izze,[Clementine],3.39
3,1,1,Nantucket Nectar,[Apple],3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,0,2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",0.00
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",0.00

In [ ]:
chipotle.fillna(chipotle['item_price [$]'].median())

,order_id,quantity,item_name,choice_description,item_price [$]
1,1,1,Chips and Fresh Tomato Salsa,8.49,2.39
2,1,1,Izze,[Clementine],3.39
3,1,1,Nantucket Nectar,[Apple],3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,8.49,2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.49
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.49

In [ ]:
# missing categorical features replaced the most frequent category
chipotle.fillna(chipotle['choice_description'].value_counts().idxmax())

,order_id,quantity,item_name,choice_description,item_price [$]
1,1,1,Chips and Fresh Tomato Salsa,[Diet Coke],2.39
2,1,1,Izze,[Clementine],3.39
3,1,1,Nantucket Nectar,[Apple],3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,[Diet Coke],2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",[Diet Coke]
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",[Diet Coke]

## Data preprocessing / cleaning (noise removal)

<img src="https://drive.google.com/uc?export=view&id=19yZ4fZuosFbjGLp_yCRS0mSKBSFv0v0Z" alt="Data processing: outliers" title="Data processing: outliers" align="left" width="600px" hspace="20px" vspace="20px"/>

Remove outliers with standard deviation.

In [ ]:
# dropping outlier observations (ie. rows) based on standard deviation
factor = 3

item_price_mean = chipotle['item_price [$]'].mean()
item_price_std = chipotle['item_price [$]'].std()

upper_lim = item_price_mean + item_price_std * factor
lower_lim = item_price_mean - item_price_std * factor

mask = (chipotle['item_price [$]'] < upper_lim) & (chipotle['item_price [$]'] > lower_lim)
chipotle[mask]

,order_id,quantity,item_name,choice_description,item_price [$]
1,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
2,1,1,Izze,[Clementine],3.39
3,1,1,Nantucket Nectar,[Apple],3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4615,1831,1,Bottled Water,NaN,1.50
4617,1832,1,Chips and Guacamole,NaN,4.45
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [ ]:
# pay attention to missing data!
chipotle[~mask]

,order_id,quantity,item_name,choice_description,item_price [$]
12,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",NaN
13,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",NaN
20,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",NaN
36,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, Rice]",NaN
37,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",NaN
...,...,...,...,...,...
4600,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",NaN
4605,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",NaN
4616,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",NaN
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",NaN
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",NaN

Removing outliers with percentiles:

In [ ]:
upper_lim = chipotle['item_price [$]'].quantile(.95)
lower_lim = chipotle['item_price [$]'].quantile(.05)

chipotle[(chipotle['item_price [$]'] < upper_lim) & (chipotle['item_price [$]'] > lower_lim)]

,order_id,quantity,item_name,choice_description,item_price [$]
1,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
2,1,1,Izze,[Clementine],3.39
3,1,1,Nantucket Nectar,[Apple],3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
6,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
...,...,...,...,...,...
4613,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25
4614,1831,1,Chips,NaN,2.15
4615,1831,1,Bottled Water,NaN,1.50
4617,1832,1,Chips and Guacamole,NaN,4.45
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

Limiting outliers instead of deleting - esp. important for small datasets (for large datasets, removing redundant information is not a problem).

In [ ]:
upper_lim = chipotle['item_price [$]'].quantile(.95)
lower_lim = chipotle['item_price [$]'].quantile(.05)

chipotle.loc[(chipotle['item_price [$]'] > upper_lim), 'item_price [$]'] = upper_lim
chipotle.loc[(chipotle['item_price [$]'] < lower_lim), 'item_price [$]'] = lower_lim

### Standardization

Standardization consists in standardizing the various data formats in a set:
* language coding style: UTF-8, ANSI etc.,
* Dates: Sep 12, 2019, Sep 12, 2019, 120919 etc.,
* New York City, NY, Z. New York,
* MIT, Massachusetts Institute of Technology
* Unrecognizable signs.

### Discretization

Continuous data distribution is bad for most machine learning algorithms.

<img src="https://drive.google.com/uc?export=view&id=1O8fuKpYz3hR2Ab6d7SOUZLrvQWqDzM55" alt="Data processing: discretization" title="Data processing: discretization" align="right" width="300px" hspace="20px" vspace="20px"/>

> numerical binning example

| Value  | Bin  |
| ------ | ---- |
| 0-30   | Low  |
| 31-70  | Mid  |
| 71-100 | High |

> categorical binning example

| Value  | Bin  |
| ------ | ---- |
| Spain  | Europe |
| Italy  | Europe |
| Chile  | South America |
| Brazil | South America |

### Logarithmic transformation

* helps to deal with skewed data
* organizes the size of the data
* reduces the impact of outliers
* increases the reliability of the model
* negative values need to be dealt with

In [ ]:
(chipotle['item_price [$]'] + 1).transform(np.log)

1       1.220830
2       1.479329
3       1.479329
4       1.220830
5       2.545531
          ...
4618    2.545531
4619    2.545531
4620    2.505526
4621         NaN
4622         NaN
Name: item_price [$], Length: 4622, dtype: float64

In [ ]:
# if there are negative values present
(chipotle['item_price [$]'] - chipotle['item_price [$]'].min() + 1).transform(np.log)

1       0.760806
2       1.144223
3       1.144223
4       0.760806
5       2.442347
          ...
4618    2.442347
4619    2.442347
4620    2.397895
4621         NaN
4622         NaN
Name: item_price [$], Length: 4622, dtype: float64

### One-hot encoding (dummy variables)

| User   | City     | ‚Üí | User | Istanbul | Madrid |
| ------ | ----     | --- | --- | --- | --- |
| 1      | Roma     | ‚Üí | 1 | 0 | 0 |
| 2      | Madrid   | ‚Üí | 2 | 0 | 1 |
| 1      | Madrid   | ‚Üí | 1 | 0 | 1 |
| 3      | Istanbul | ‚Üí | 3 | 1 | 0 |
| 2      | Istanbul | ‚Üí | 2 | 1 | 0 |
| 1      | Istanbul | ‚Üí | 1 | 1 | 0 |
| 1      | Roma     | ‚Üí | 1 | 0 | 0 |

### GroupBy & apply

<img src="https://drive.google.com/uc?export=view&id=17TC0l9R_fE2-d932J6YILBCUu8pj_ox7" alt="Data processing: groupby" title="Data processing: groupby" align="left" width="600px" hspace="20px" vspace="20px"/>

In [ ]:
chipotle

,order_id,quantity,item_name,choice_description,item_price [$]
1,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
2,1,1,Izze,[Clementine],3.39
3,1,1,Nantucket Nectar,[Apple],3.39
4,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",11.75
...,...,...,...,...,...
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4619,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",NaN
4622,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",NaN

In [ ]:
chipotle.groupby('item_name').sum()[['quantity', 'item_price [$]']]

                                       quantity  item_price [$]
item_name
6 Pack Soft Drink                            55          355.72
Barbacoa Bowl                                66          672.36
Barbacoa Burrito                             91          894.75
Barbacoa Crispy Tacos                        12          113.46
Barbacoa Salad Bowl                          10          105.70
Barbacoa Soft Tacos                          25          250.46
Bottled Water                               211          302.83
Bowl                                          4           19.15
Burrito                                       6           44.40
Canned Soda                                 126          150.78
Canned Soft Drink                           351          438.75
Carnitas Bowl                                71          701.46
Carnitas Burrito                             60          591.08
Carnitas Crispy Tacos                         8           71.73
Carnitas Salad                                1            8.99
Carnitas Salad Bowl                           6           65.78
Carnitas Soft Tacos                          40          375.94
Chicken Bowl                                761         4349.02
Chicken Burrito                             591         3320.58
Chicken Crispy Tacos                         50          271.65
Chicken Salad                                 9           81.09
Chicken Salad Bowl                          123          614.00
Chicken Soft Tacos                          120          568.42
Chips                                       230          494.34
Chips and Fresh Tomato Salsa                130          328.81
Chips and Guacamole                         506         2193.39
Chips and Mild Fresh Tomato Salsa             1            3.00
Chips and Roasted Chili Corn Salsa           23           67.85
Chips and Roasted Chili-Corn Salsa           18           43.02
Chips and Tomatillo Green Chili Salsa        45          132.75
Chips and Tomatillo Red Chili Salsa          50          147.50
Chips and Tomatillo-Green Chili Salsa        33           78.87
Chips and Tomatillo-Red Chili Salsa          25           59.75
Crispy Tacos                                  2           14.80
Izze                                         20           67.80
Nantucket Nectar                             29           98.31
Salad                                         2           14.80
Side of Chips                               110          184.13
Steak Bowl                                  221         2172.39
Steak Burrito                               386         3710.23
Steak Crispy Tacos                           36          351.11
Steak Salad                                   4           35.66
Steak Salad Bowl                             31          317.15
Steak Soft Tacos                             56          529.30
Veggie Bowl                                  87          647.53
Veggie Burrito                               97          755.27
Veggie Crispy Tacos                           1            8.49
Veggie Salad                                  6           50.94
Veggie Salad Bowl                            18          112.50
Veggie Soft Tacos                             8           51.23

### Split text

Useful when you have multiple traits in one column.

In [ ]:
chipotle['item_name'].str.split(' ').map(lambda x: x[0])

1           Chips
2            Izze
3       Nantucket
4           Chips
5         Chicken
          ...
4618        Steak
4619        Steak
4620      Chicken
4621      Chicken
4622      Chicken
Name: item_name, Length: 4622, dtype: object

In [ ]:
chipotle[chipotle['item_name'].str.startswith('Chicken')]['item_name'].value_counts()

Chicken Bowl            726
Chicken Burrito         553
Chicken Soft Tacos      115
Chicken Salad Bowl      110
Chicken Crispy Tacos     47
Chicken Salad             9
Name: item_name, dtype: int64

### Scaling

In most cases, the numerical characteristics of a dataset are not specific and vary from one another. In fact, it doesn't make sense to expect the age and income columns to have the same range. But from a machine learning perspective, the same scope helps improve the model.

Scaling solves this problem. Continuous functions become range identical after the scaling process. This process is not mandatory for many algorithms, but still worthwhile. However, distance-based algorithms such as k-NN or k-Means must have scaled continuous functions as model inputs.
Basically, there are two common ways to scale: normalization and standardization.

In [ ]:
chipotle['item_price [$]'].describe()

count    3892.000000
mean        6.947333
std         3.915795
min         1.250000
25%         2.950000
50%         8.490000
75%        11.250000
max        11.750000
Name: item_price [$], dtype: float64

In [ ]:
# normalization

item_price_normalized = (chipotle['item_price [$]'] - chipotle['item_price [$]'].min()) / \
(chipotle['item_price [$]'].max() - chipotle['item_price [$]'].min())

In [ ]:
item_price_normalized.describe()

count    3892.000000
mean        0.542603
std         0.372933
min         0.000000
25%         0.161905
50%         0.689524
75%         0.952381
max         1.000000
Name: item_price [$], dtype: float64

In [ ]:
# standardization

item_price_standardized = (chipotle['item_price [$]'] - chipotle['item_price [$]'].mean()) / \
chipotle['item_price [$]'].std()

In [ ]:
item_price_standardized.describe()

count    3.892000e+03
mean    -4.518482e-17
std      1.000000e+00
min     -1.454962e+00
25%     -1.020823e+00
50%      3.939601e-01
75%      1.098798e+00
max      1.226486e+00
Name: item_price [$], dtype: float64

### Data extraction

In [ ]:
from datetime import date

In [ ]:
data = pd.DataFrame({
    'date': ['01-01-2017', '04-12-2008', '23-06-1988', '25-08-1999', '20-02-1993']
})

data

         date
0  01-01-2017
1  04-12-2008
2  23-06-1988
3  25-08-1999
4  20-02-1993

In [ ]:
data['date'] = pd.to_datetime(data.date, format="%d-%m-%Y")

In [ ]:
data['date'].dt.year

0    2017
1    2008
2    1988
3    1999
4    1993
Name: date, dtype: int64

In [ ]:
data['date'].dt.month

0     1
1    12
2     6
3     8
4     2
Name: date, dtype: int64

In [ ]:
data['date'].dt.day

0     1
1     4
2    23
3    25
4    20
Name: date, dtype: int64

In [ ]:
data['date'].dt.day_of_week

0    6
1    3
2    3
3    2
4    5
Name: date, dtype: int64

In [ ]:
data['passed_years'] = date.today().year - data['date'].dt.year

In [ ]:
data['passed_months'] = 12 * data['passed_years'] + date.today().month - data['date'].dt.month

In [ ]:
data['day_name'] = data['date'].dt.day_name()

In [ ]:
data

        date  passed_years  passed_months   day_name
0 2017-01-01             6             75     Sunday
1 2008-12-04            15            172   Thursday
2 1988-06-23            35            418   Thursday
3 1999-08-25            24            284  Wednesday
4 1993-02-20            30            362   Saturday

### Feature engineering example

How to assess whether a given profile on Facebook is not a bot?
* number of friends
* number of posts published
* number of photos
* number of likes
* likes under posts
* the length of the posts
* the origin of the phone number
* e-mail address domain

And the rating of the attractiveness of a movie on YouTube?

The car rental company ARRA wants to evaluate the reliability and maintenance costs of the different car models available in the fleet. It has the following data:
* a table with individual activities of all cars in the fleet: date, place of rental, status (driving, breakdown), renting data (age, sex, nationality), number of kilometers traveled, amount of fuel consumed, car identification number
* a table for each car: year of production, engine, equipment, brand, model, etc.


What features can we find here?

> Fun fact<br>
The process of obtaining, preprocessing data and extracting features from them takes up to 80% of a data engineer's work time.

## Further readings

1. [30 Examples to Get You From a Novice to an Advanced Pandas User](https://towardsdatascience.com/30-examples-to-get-you-from-a-novice-to-an-advanced-pandas-user-e6eb4e8750b7)
    * `.insert()` - to create a new column at a specific position
    * `.unique()` and `.nunique()` - to get all unique values and their number, respectively
    * `.isin()` - to check which rows are contained in a given collection of items
    * `.rank()` - to assign order IDs without sorting the set
    * `.plot()`, `.hist()` - to make basic data vizualizations
1. using `.groupby()` with external values (not a DataFrame column)
1. use `.pipe()` if you want to write a concise code with all data processing steps included in a single pipeline
1. `.explode()` - to change the data format from wide to long
1. `.between()` - to simultaneously check if the data is limited on both sides
1. `.T` - to swap rows and columns with each other (just like transposing a matrix - more soon)
1. `.nlargest()` & `.nsmallest()` - to find the $n$ top/bottom values
1. `.clip()` - to limit the values by a given value, ie. if the value exceeds than set it to the upper/lower limit
1. `.stack()`, `.unstack()`, `.pivot()` - read more https://pandas.pydata.org/docs/user_guide/reshaping.html

<img src="https://drive.google.com/uc?export=view&id=1UO2urRciECzoKE_vHy4RMGfFbkOWOGlW" alt="SDA logo" align="left" width="100px" hspace="10px" vspace="10px"/>
<br>

# TASKS

## **<font color='#306998'>TASK </font><font color='#ffd33b'>1</font>**

Create a dataframe with the 10 names of pupils and the number of points they obtained in the exam. Then check what the mean and median of the results were.

In [ ]:
tabulka = pd.DataFrame(columns=["jmeno", "body"])
#10x opakovat
for i in range(3):
  #zadat jm√©na a body
  jmeno = input("Zadej jm√©no: ")
  body = input("Body: ")
  #vytvo≈ô√≠m dataframe ze jm√©na a bod≈Ø
  df = pd.DataFrame.from_dict([{"jmeno":jmeno, "body":body}])
  #p≈ôipoj√≠m
  tabulka = pd.concat([tabulka, df])

Zadej jm√©no: Michal
Body: 25
Zadej jm√©no: Nikola
Body: 68
Zadej jm√©no: Vil√©m
Body: 120

In [ ]:
tabulka = tabulka.reset_index(drop=True)

In [ ]:
tabulka["body"] = tabulka["body"].astype(int)

## **<font color='#306998'>TASK </font><font color='#ffd33b'>2</font>**

Based on the data frame created in the previous task, display the fourth line. Then write those students who scored above average to a separate box.

In [ ]:
prumer = tabulka["body"].mean()

In [ ]:
#z√≠skat pr≈Ømƒõr
tabulka[tabulka["body"] > prumer]

   jmeno  body
2  Vil√©m   120

## **<font color='#306998'>TASK </font><font color='#ffd33b'>3</font>**

Add a third column to the box which will contain the percentage of student scores on this exam (that is, each numerical value must be divided by the maximum score that could be obtained on this exam).

Next, we want to anonymize the first name column: we want only the first and last letters of the first name to be left. For example, for the name "John" we want to keep "J ... n".

In [ ]:
def spocitej_procenta(hodnota, maximum=200):
  return hodnota/maximum*100

def maskuj_jmeno(jmeno):
  if len(jmeno) > 2:
    maskovane = jmeno[0] + '.'*len(jmeno) + jmeno[-1]
  else:
    maskovane = jmeno
  return maskovane

In [ ]:
tabulka["procenta"] = tabulka["body"].apply(lambda x: spocitej_procenta(x, 150))
tabulka["maskovane"] = tabulka["jmeno"].apply(maskuj_jmeno)

In [ ]:
tabulka

    jmeno  body  procenta maskovane
0  Michal    25      12.5  M......l
1  Nikola    68      34.0  N......a
2   Vil√©m   120      60.0   V.....m

In [ ]:
tabulka["prijmeni"] = "Maliszewski"

In [ ]:
tabulka

    jmeno  body  procenta maskovane     prijmeni
0  Michal    25      12.5  M......l  Maliszewski
1  Nikola    68      34.0  N......a  Maliszewski
2   Vil√©m   120      60.0   V.....m  Maliszewski

In [ ]:
tabulka["cele_jmeno"] = tabulka["jmeno"] + tabulka["prijmeni"]

In [ ]:
tabulka

    jmeno  body  procenta maskovane     prijmeni         cele_jmeno
0  Michal    25      12.5  M......l  Maliszewski  MichalMaliszewski
1  Nikola    68      34.0  N......a  Maliszewski  NikolaMaliszewski
2   Vil√©m   120      60.0   V.....m  Maliszewski   Vil√©mMaliszewski

In [ ]:
tabulka["procenta_zaokrouhleno"] = tabulka["procenta"].apply(lambda parek: True if parek > 40 else False)

In [ ]:
tabulka

,jmeno,body,procenta,maskovane,prijmeni,cele_jmeno,procenta_zaokrouhleno
0,Michal,25,16.666667,M......l,Maliszewski,MichalMaliszewski,False
1,Nikola,68,45.333333,N......a,Maliszewski,NikolaMaliszewski,True
2,Vil√©m,120,80.000000,V.....m,Maliszewski,Vil√©mMaliszewski,True

## **<font color='#306998'>TASK </font><font color='#ffd33b'>4</font>**

Sort the data frame by the number of points obtained for the exam, from highest to lowest. In case of the same number of points, the persons should be displayed in alphabetical order.

## **<font color='#306998'>TASK </font><font color='#ffd33b'>5</font>**

Join the two dataframes defined below:
```python
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin']
})
```
together with:
```python
student_data2 = pd.DataFrame({
    'student_id': ['S6', 'S7', 'S8', 'S9', 'S10'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston']
})
```

## **<font color='#306998'>TASK </font><font color='#ffd33b'>6</font>**

To the box created in the previous task, add the information about the students' results from the box below.
```python
exam_results = pd.DataFrame({
    'student_id': ['S2', 'S10', 'S3', 'S1', 'S7', 'S9', 'S5', 'S4', 'S8', 'S6'],
    'marks': [200, 210, 190, 222, 199, 201, 200, 198, 219, 201]
})
```

Additional tasks...

## **<font color='#306998'>TASK </font><font color='#ffd33b'>7</font>**

Create two objects of type `pd.Series()`, containing 100 values of 0 or 1. Use a random number generator from the NumPy library, eg. `np.random.randint()`. Then display all the indexes on which the values in both `pd.Series()` match.

## **<font color='#306998'>TASK </font><font color='#ffd33b'>8</font>**

Create a `pd.DataFrame()` with ten male and female students' names as well as the number of points they scored on the exam. Then check what the mean and median scores were.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

```python
df = pd.DataFrame(data)
```

## **<font color='#306998'>TASK </font><font color='#ffd33b'>9</font>**

* Based on the data frame created in the previous task, display the fourth row.
* Then write into a separate frame those students who scored above the average.

## **<font color='#306998'>TASK </font><font color='#ffd33b'>10</font>**

Add to the data frame a third column, which will contain the percentage score of each student on that exam (that is, each numerical value must be divided by the maximum score that could be obtained on that exam).

Next, we want to anonymize the name column: we want only the first and last letters of the name to remain. For example, we want to keep `J...n` for the name `John`.

## **<font color='#306998'>Information for TASKs </font><font color='#ffd33b'>11-15 & 19-20</font>**

The following data was was made available on https://www.kaggle.com/datasets/davidbnn92/weather-data-for-covid19-data-analysis/.

Try downloading it from there using the `Download` button or with the API command `!kaggle datasets download -d davidbnn92/weather-data-for-covid19-data-analysis` (see https://www.kaggle.com/discussions/general/74235 for more details).

If the data is no longer available you can always download it from our Google Drive https://drive.google.com/drive/folders/1KXr6yUW7rE0LzUzuuMehEzam8D9zxGpv?usp=sharing.

### About Dataset

The dataset contains selected metereological features, such as temperature or wind speed, and was imported from the `NOAA GSOD dataset`, continuously updated to include recent measurments.

> Among others, you can find the following columns here:
* `Id`
* `Country/Region`
* `Date`
* `temp`: Mean temperature for the day in degrees Fahrenheit to tenths.
* `max`: Maximum temperature reported during the day.
* `min`: Minimum temperature reported during the day.
* `stp`: Mean station pressure for the day in millibars to tenths.
* `slp`: Mean sea level pressure for the day.
* `dewp`: Mean dew point for the day in [Fahrenheit to tenths].
* `wdsp`: Mean wind speed for the day in [knots to tenths].
* `prcp`: Total precipitation (rain and/or melted snow) reported during the day in [inches and hundredths]; `.00` indicates no measurable precipitation (includes a trace).
* `fog`: Indicators (1 = yes, 0 = no/not reported) for the occurrence during the day.</br></br>
Note that time of max/min temperatures varies by country and region, so this will sometimes not be the max for the calendar day.

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("training_data_with_weather_info_week_4.csv")

In [5]:
df.head()

,Id,Country_Region,Province_State,Date,ConfirmedCases,Fatalities,country+province,Lat,Long,day_from_jan_first,...,min,max,stp,slp,dewp,rh,ah,wdsp,prcp,fog
0,1,Afghanistan,NaN,2020-01-22,0.0,0.0,Afghanistan-,33.0,65.0,22,...,33.6,54.9,999.9,1024.3,27.4,0.545709,0.186448,9.4,0.00,0
1,2,Afghanistan,NaN,2020-01-23,0.0,0.0,Afghanistan-,33.0,65.0,23,...,32.7,55.9,999.9,1020.8,22.8,0.461259,0.163225,14.9,99.99,1
2,3,Afghanistan,NaN,2020-01-24,0.0,0.0,Afghanistan-,33.0,65.0,24,...,36.9,43.2,999.9,1018.6,34.5,0.801794,0.325375,10.4,0.17,1
3,4,Afghanistan,NaN,2020-01-25,0.0,0.0,Afghanistan-,33.0,65.0,25,...,37.9,56.3,999.9,1018.0,37.8,0.728175,0.214562,6.1,0.57,1
4,5,Afghanistan,NaN,2020-01-26,0.0,0.0,Afghanistan-,33.0,65.0,26,...,36.1,53.1,999.9,1014.8,33.2,0.685513,0.231656,10.8,0.00,1

## **<font color='#306998'>TASK </font><font color='#ffd33b'>11</font>**

Search through `training_data_with_weather_info_week_4.csv` file for weather data in Bangladesh. Save the data frame as the variable `df_bangladesh`. You can copy the link to a text file and load the data using `pd.read_csv()`. Load only the columns described above.

Hint: using the arguments - usecols (and opt. names) is a good idea.

## **<font color='#306998'>TASK </font><font color='#ffd33b'>12</font>**

In the `df_bangladesh` dataset, change the index values for the rows so that they start at 1.

Then display:
* first 7 rows
* third row both using .loc[] and 'iloc[] - compare the outputs

## **<font color='#306998'>TASK </font><font color='#ffd33b'>13</font>**

View all observations:
* from March 2020 (`df_bangladesh`)
* from Februrary 1 for each country

## **<font color='#306998'>TASK </font><font color='#ffd33b'>14</font>**

Check how many rows contain missing data in `slp` column. Delete those rows and reset the rows indexes (see the `.reset_index()` method).

## **<font color='#306998'>TASK </font><font color='#ffd33b'>15</font>**

Enter a new column `average monthly temperature (C)` containing the average temperature in degrees Celsius for each Country/Region.
* Round the result to one decimal place.
* Determine the average temperatures recorded in Togo over the years, and determine the lowest and highest value.
* Find 5 countries with the lowest average temps in March.

## **<font color='#306998'>TASK </font><font color='#ffd33b'>16</font>**

Sort the data frame from **Task 8** by the number of points received from the exam, from highest to lowest. In the case of the same number of points, individuals are to be displayed in alphabetical order.

## **<font color='#306998'>TASK </font><font color='#ffd33b'>17</font>**

Join the following two frames together:

```python
student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Daniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin']]
})

student_data2 = pd.DataFrame({
    'student_id': ['S6', 'S7', 'S8', 'S9', 'S10'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston']]
})
```

## **<font color='#306998'>TASK </font><font color='#ffd33b'>18</font>**

Add information about the results of the students in the box below to the box created in the previous task:

```python
exam_results = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10'],
    'marks': [200, 210, 190, 222, 199, 201, 200, 198, 219, 201]
})
```

## **<font color='#306998'>TASK </font><font color='#ffd33b'>19</font>**

Select 5 Countries from `training_data_with_weather_info_week_4.csv` and transform the data in such a way that the values `Date` column are not duplicated (i.e. for each date five columns with temperature for the corresponding cities).

## **<font color='#306998'>TASK </font><font color='#ffd33b'>20</font>**

For the data frame from **Task 19**:
* generate missing data by removing the randomly selected 10% of values and replacing them with `-99` (e.g. use the following command `df_weather = df_weather.mask(np.random.random(df.shape) < .1)`)
* fill in the missing data with the
    * mean value
    * median value
    * mean value wrt. to Country (groupby first to get mean values)
* remove outlier observations
* enter a new column with discrete values for temperature (you can use the `cut()` or `qcut()` methods from the `pandas` library)
* enter the so-called *dummy variables* for those discrete temperature values
* use normalization or standardization to scale the temperature data
* create an additional `date` column containing the date in `pd.DateTime()` format

Tips:
* the missing data in the form `-99` can be replaced with something standard, e.g. `df_weather = df_weather.replace(-99, np.NaN)` then all standard methods such as: `.isna(), .isnull(), .fillna(), .dropna()` can be used
* to generate dummy variables, the so-called one-hot-encoding can be used:
    * `pd.get_dummies()` from pandas
    * `sklearn.preprocessing.OneHotEncoder` from scikit-learn
    * `tf.keras.layers.CategoryEncoding` from tensorflow
* data scaling can be done as in the slides or with the scikit-learn library, such as `sklearn.preprocessing.StandardScaler` or `sklearn.preprocessing.MinMaxScaler`